.hero{
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid rgba(155, 154, 154, 0.1);
    background-image: linear-gradient(180deg, rgba(201, 201, 201, 0.027), rgba(189, 186, 186, 0.089));
    backdrop-filter: blur(5px);
    color: rgb(77, 72, 72);
}
.hero img{
    width: 180px;
    border-radius: 50%;
}
.addToCart{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border: none;
    padding: 15px 20px;
    border-radius: 10px;
    backdrop-filter: blur(5px);
    background: transparent;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 15px;
    cursor: pointer;
}
.addToCart:hover{
    background-image: linear-gradient(180deg, rgba(117, 117, 117, 0.027), rgba(66, 65, 65, 0.089));
}

.star{
    font-size: 1.2rem;
    color: goldenrod;
}

.cart-icon{
    font-size: 1.2rem;
}
.rating{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}